@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

body{
    background-image: url("working-code.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
}
*{
    margin: 0;
    padding: 0;
}
.login-box{
  
    width: 450px;
    height: 600px;
    background: rgba(255, 255, 255, 0.7);
    
    margin-top: 100px;
    margin-left: 550px;
    border-radius: 3%;
}

.log-image{

    padding: 10px;
    width: 50px;
    height: 50px;
    border: solid;
    border-radius: 50%;
}

.img-div{
    padding-top: 20px;
    padding-left: 40%;
}

input[type=text], input[type=email], input[type=password] {
    width: 80%;
    padding: 12px 20px;
    margin-left: 40px;
    display: inline-block;
    background-color: rgb(255, 255, 255);
    color: white;
    border: 1px solid rgb(128, 128, 128);
    border-radius: 5px;
    box-sizing: border-box;
  }
  label{
    padding-left: 40px;
    padding-bottom: 20px;
    display: flex;
    padding-top: 10px;

  }

  .login{
padding-top: 15px;
  }

  .head{
    padding-left: 22%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }
  .btn{
    width: 80%;
    padding-top: 20px;
    margin-left: 40px;
    background-color: #1a5ee9;
    border-radius: 5px;
    margin-top: 20px;
    color: white;
    padding: 12px 20px;
    /* border-color: white; */
    border: none;
    font-size: larger;
  }

  .btnn{
    width: 80%;
    padding-top: 20px;
    margin-left: 40px;
    background-color: #ffffff;
    border-radius: 5px;
    margin-top: 20px;
    color: #1a5ee9;
    padding: 12px 20px;
    /* border-color: white; */
    border: solid;
    box-shadow: 0 0 15px rgba(73, 86, 255, 0.2);
    font-size: larger;
  }


  .link{
    text-decoration: none;
    padding-left: 150px;
    padding-top: 30px;

  }
  .heading{
    font-family: 'Poppins', sans-serif;
  }

  